/* @font-face {
  src: url('../assets/fuentes/Avenue-du-Vapoteur.ttf');
  font-family: Avenue;
} */

.color {
  color: blueviolet;
}

:root {
  --color-yellow-light : #FFD87F;
  --color-yellow : #E0AA00;
  --color-red : #B9373E;
  --color-text : #9F9D9B;
  --color-grey : #F6F4F4;
} 

.link-style {
  list-style: none;
  color: #000;
  margin-right: 2rem;
  font-size: 1.5rem;
  border: 2px solid var(--color-yellow);
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 900;
  font-family: Avenue;
}

hr {
  background-color: var(--color-yellow);
  position: relative;
  bottom: 0.65rem;
  height: 2px;
  z-index: -1;
}

.link-style.is-active {
  color: #B9373E;
}
/* 
.link-style:hover{
  color: var(--color-yellow);
  text-decoration: none;
  font-weight: 600;
  border-bottom:  rgb(75, 29, 134);
  z-index: 900;
} */

/* .tab:active + label {
  background-color: rgb(27, 1, 1);
}

.tab + label {
  background-color: #f2f2f2;
} */

.w3-red {
  color: var(--color-yellow);
  text-decoration: none;
  font-weight: 600;
  border-bottom:  rgb(75, 29, 134);
  z-index: 900;
}
