 
  /*Barra de navegación */
 
  .main-header{
    height: 4rem;
    border-bottom: 1px solid var(--color-red);
    background: var(--color-red);
  }
  .logo {
    height: 3rem;
  }

  .main-menu-link {
    color: var(--color-grey);
    font-size: .8rem;
  }
  @media (max-width: 600px) {
    .logo {
        height: 2.5rem;
      }
  }

  
  .content-select {
    font-size: 1.3rem;
}
.content-select li { 
    list-style: none;
    padding: 1.5rem;
    display: inline;
}

@media (max-width: 780px) {
  .content-select {
      font-size: .9rem;
  }
}
