* {
  font-family: 'Montserrat', sans-serif;
}
.color {
  color: blueviolet;
}

:root {
  --color-time : #FFD87F;
  --color-yellow : #E0AA00;
  --color-red : #B9373E;
  --color-text : rgb(122, 119, 116);
  --color-grey : #F6F4F4;

} 
 
/*Componente Header*/
 
  .main-header{
    height: 4rem;
    border-bottom: 1px solid var(--color-red);
    background: var(--color-red);
  }
  
  .pago-efectivo-logo {
    padding-top: 3rem;
  }
  
  .main-menu-link {
    color: var(--color-grey);
    font-size: .8rem;
  }
  @media (max-width: 600px) {
    .logo {
        height: 2.5rem;
      }
  }
 
/*Selec -  se encuentra en el componente App*/
 
.select li {
  list-style: none;
  font-size: 2rem;
}


/*Componente children/Informative*/
.content-info {
  padding: 2rem 0;
  text-align: center;
}
.content-info div {
  list-style: none;
  padding: 3rem 1rem;
  background: var(--color-grey);
  font-size: 1.5rem;
  max-height: 7.5rem;
  /* text-align: center;  */
  height: auto;
  /* word-wrap: break-word; */
  overflow: hidden;
}
.content-info div:first-child {
  background: var(--color-yellow);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* padding-left: 2rem; */
  padding-top: 1.3rem;
  font-size: initial;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content-info div:first-child span {
  font-size: 1.5rem;
  color: var(--color-grey);
}

.content-info div:last-child {
  background: var(--color-time);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* background-image: url(../assets/icons/alarm.svg); */
  /* background-repeat: no-repeat; */
  /* background-size: 3rem; */
  /* padding-left: 3.5rem; */
  /* background-position: center left 10px; */
  font-size: initial;
  /* width: 30%; */
  /* max-width: 1200px; */
}

@media (max-width: 780px) {
  .content-info div {
    display: inline-block;
    font-size: 0.7rem;
    height: 70px;
    padding: 1rem 1rem;
  }
  .content-info div:last-child {
    background-size: 2.5rem;
    padding-left: 3rem;
    background-position: center left 10px;
    font-size: 0.7rem;
  }
  .content-info div:first-child {
    font-size: 0.5rem;
    padding-top: 0.2rem;
  }
  .content-info div:first-child span {
    font-size: 1.5rem;
    color: var(--color-grey);
  }
}

/*slider plugin*/

button.slick-arrow.slick-prev {
  background-color: black;
  display: none !important;
}

button.slick-arrow.slick-next { 
  position: absolute;
  right: 20px;
  top: -10px;
  border-radius: 50px;
  width: 30px;
  padding-left: 2px;
}

.slider {
  margin: 1rem 0;
}

 

.selec-pay{
  color: var(--color-text);
  /* font-size: 1.2rem;
  letter-spacing: 2px;  */
  font-family: 'Montserrat', sans-serif;
}

.box-description{

}
.box-description p{

}
.box-description ol{

}

.bpi{

}
.bpi a{

}


/*componente Footer*/
.footer {
  height: 20vh;
}

.footer li {
  outline: 1px solid yellow;
  list-style: none;
  height: inherit;
  text-align: center;
  padding: 2.5rem .5rem; 
}